button{
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: whitesmoke;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 35px;
}

button:hover{
    background-color: black;  
    border-color: blanchedalmond; 
    scale: 1.01;
}
.click-button{
    background-color: #002ead

}

.restart-click{
    background-color: firebrick;

}